.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  position: relative;
  background-color: #1e1825 !important;
  color: #fff !important;
}

/*Cascading Selectors*/
/*Regular prompt text is in pink
* Response text is aquamarine
*/
p{
  color: rgb(255, 0, 208);
}

p.diff{
  color: rgb(0, 255, 204);
}

/*Psuedo classes*/
li:nth-child(odd){
  color:lightgreen;
}

li:nth-child(even){
  color: yellow;
}

/*Center elements within container*/
/*All page items will be centered*/
.homecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Animation*/
.animated-text {
  animation-name: slide-in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.team-text {
  font-size: 24px;
  transition: font-size 0.5s ease-in-out;
  color: rgb(146, 102, 248);
}

.team-text:hover {
  font-size: 36px;
}

/*Z-index that places the masterball icon in the background of the page*/
/*Fixed size masterball image*/
.masterball{
  transition: transform 0.5s ease-in-out;
  background-color: purple;
  position: absolute;
  opacity: 0.1;
  z-index: auto;
  width: 200px;
  height: 200px;
}

.masterball:hover {
  transform: scale(1.5);
}

/*Grid to display Pokemon Team*/
.grid{
  display: grid;
  align-items: center;
  grid-template-columns: 200px 200px 200px;
  color: gold;
}

/*Relative sized espurr images*/
#espurr{
  height: 15rem;
  width: 15rem;
}